<div class="container my-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= @article.title %></h4>
          <p class="card-text"><%= attachment_image_tag @article, :article_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %></p>
          <p class="card-text"><%= safe_join(@article.body.split("\n"),tag(:br)) %></p>
          <p class="card-text">
            <small class="text-muted">更新日：<%= @article.updated_at.strftime("%Y-%m-%d") %></small>
          </p>
          <% if current_user.admin? && current_user == @article.user %>
            <%= link_to '編集', edit_article_path(@article), class: "btn btn-success" %>
            <%= link_to '削除', article_path(@article), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
          <% end %>
          
          <!--意見機能-->
          <div class="comments ml-5 mt-5">
            <div id="remarks_error">
              <%= render 'layouts/errors', model: @remark %>
            </div>
            <!--意見機能　form-->
            <div class="new-comment">
              <%= render 'remarks/form', article: @article, remark: @remark %>
            </div>
            <!--意見機能　record_comments-->
            <div id="remarks_area">
              <%= render 'remarks/article_remarks', article: @article %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>