<div class="container mt-5">
  <div class="row">
    <div class="col-7 mx-auto">
      <div class="card">
        <div class="card-body">
         <div class="d-flex">
           <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 mt-3 ml-3 profile-img" %>
           <h4 class="ml-5 m-3"><%= @user.profile %></h4>
          </div>
          <h5 class="card-title"><%= current_user.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= current_user.email %></h6>
          <h7><%= simple_format(current_user.gender_status_i18n) %></h5>
          <%= link_to 'ユーザー編集', edit_user_path %>
          
          
          
           <p class="d-flex justify-content-end">
             <% if user_signed_in? && @user == current_user %>
             <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
             <% end %>
             <% if current_user != @user %>
             <% if current_user.following?(@user) %>
             <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
             <% else %>
             <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class:"btn-sm btn-success" %>
             <% end %>
           </p>
           <% end %>
           <div class="ml-3 mb-3 card w-100">
             <div class="d-flex">
               <%= link_to follows_user_path(@user) do %>
               <h6>フォロー<%= @following_users.count %></h6>
               <% end %>&nbsp;&nbsp;
               <%= link_to followers_user_path(@user) do %>
               <h6>フォロワー<%= @follower_users.count %></h6>
               <% end %>
             </div>
           </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">マジックレポート一覧</th>
            <th scope="col">使用したマジック</th>
            <th scope="col">演技時間</th>
            <th scope="col">演じた相手</th>
            <th scope="col">いいね数</th>
            <th scope="col">コメント数</th>
            <th scope="col">投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @user.records.each do |record| %>
            <tr>
              <td><%= link_to record.title, record_path(record) %></td>
              <td><%= link_to record.magic_name, record_path(record) %></td>
              <td><%= record.audience_status_i18n %></td>
              <td><%= record.time_status_i18n %></td>
              <td><%= "#{record.favorites.count}いいね" %></td>
              <td><p class="caption"><%= "#{record.comments.count} コメント" %></p></td>
              <td><%= link_to record.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </div>
  </div>
