<section class="container mt-5">
  <h1 class="text-center">投稿一覧</h1>
  <h6 class="text-center mt-3">マジックを演じた際に気づいたことや感じたことや知ったことについての記録です。みんなの記録を見てみましょう。</h6>
</section>

<section class="container my-5">
  <% @records.reverse_each do |record| %>
    <div class="card mt-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-alt"></i> <%= link_to record.user.name, user_path(record.user_id)%></h6>
        <h5 class="card-title"><%= link_to record.title, record_path(record) %></h5>
        <div class="row">
          <p class="col-6">
            <small class="text-muted">使用したマジック：<%= record.magic_name %></small>
          </p>
          <p class="col-2">
            <small class="text-muted"><i class="fas fa-users"></i> 観客：<%= record.audience_status_i18n %></small>
          </p>
          <p class="col-4">
            <small class="text-muted"><i class="far fa-clock"></i> 演技時間：<%= record.time_status_i18n %></small>
          </p>
        </div>
        <a class="card-text">
          <small class="text-muted"><i class="far fa-heart"></i><%= " #{record.favorites.count}いいね　" %>
          <i class="far fa-comment-dots"></i><%= " #{record.comments.count}コメント"%></small>
        </a>
      </div>
    </div>
  <% end %>
</section>
